@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
// 'Amatic SC', cursive
@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#wrap_box {
    z-index: 1111;
}

#about{
    width: 100%;
    height: 100vh;
    color: #752A9C;
    font-family: 'KyoboHandwriting2021sjy';
    h1{
        font-size: 4.5rem;
        display: inline-block;
        background: linear-gradient(135deg, rgba(225,207,239,1) 0%, rgba(225,207,239,1) 36%, rgba(255,173,188,1) 58%, rgba(255,173,188,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0 50%;
        transform: translate(-50%, 0);
        width: 20%;
        text-align: center;
        padding-top: 70px;
        font-family: 'Amatic SC', cursive;
    }
    #main{
        width: 1600px;
        height: 800px;
        padding: 70px 0;
        margin: 0 auto;
        position: relative;
        display: flex;
        transition: .2s linear;
        z-index: 1111;
        .left{
            width: 35%;
            padding-top: 50px;
            div{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                img{
                    width: auto;
                    height: 69%;
                    border-radius: 255px;
                    box-shadow: 0 5px 20px #ccc;
                }
                h2{
                    font-size: 2.5rem;
                    padding-top: 30px;
                }
            }
        }
        .right{
            width: 60%;
            .title{
                width: 100%;
                display: flex;
                margin: 30px 0;
                line-height: 1.5;
                &:nth-child(3){
                    align-items: center;
                }
                &:nth-child(4){
                    align-items: center;
                }
                .name{
                    width: 120px;
                    font-size: 24px;
                    margin-right: 30px;
                }
                .flex{
                    display: flex;
                    font-size: 24px;
                    .data{
                        margin-right: 30px;
                    }
                    &.border{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        .border_box{
                            width: 90px;
                            height: 90px;
                            border-radius: 50%;
                            background: #ffa4a440;
                            font-size: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            box-shadow: 0 5px 15px #ccc;
                        }
                    }
                }

            }
        }
        .bottom{
            display: none;
            width: 100%;
            margin-top: 33px;
            .title{
                width: 100%;
                display: flex;
                margin: 30px 0;
                align-items: center;
                &:nth-child(3){
                    align-items: center;
                }
                &:nth-child(4){
                    align-items: center;
                }
                .name{
                    width: 120px;
                    font-size: 24px;
                    margin-right: 30px;
                }
                .flex{
                    display: flex;
                    font-size: 24px;
                    .data{
                        margin-right: 30px;
                    }
                    &.border{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        .border_box{
                            width: 90px;
                            height: 90px;
                            border-radius: 50%;
                            background: #ffa4a440;
                            font-size: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            box-shadow: 0 5px 15px #ccc;
                        }
                    }
                }

            }
        }
    }
}

@media screen and(max-width:1600px ) {
    #about #main{
        width: 1400px;
        .right .title{
            margin: 43px 0;
        }
        .right .title .name{
            font-size: 22px;
            margin-right: 18px;
        }
        .right .title .flex{
            font-size: 22px;
        }
        .right .title .flex.border .border_box{
            width: 85px;
            height: 85px;
        }
    }
}
@media screen and(max-width:1365px ) {
    #about #main{
        width: 1200px;
        .right .title{
            margin: 43px 0;
        }
        .right .title .name{
            font-size: 20px;
            margin-right: 16px;
        }
        .right .title .flex{
            font-size: 20px;
        }
        .right .title .flex.border .border_box{
            width: 80px;
            height: 80px;
            font-size: 18px;
        }
    }
}
@media screen and(max-width:1200px ) {
    /* #root{
        overflow: scroll;
    } */
    #about{
        h1{
            position: fixed;
        }
        #main{
        width: 900px;
        justify-content: space-between;
        padding-top: 130px;
        transition: none;
        flex-wrap: wrap;
        height: auto;
            .left {
                height: 515px;
                width: 35%;
                div img{
                height: 78%;
                }
            }
            .right {
                width: 65%;
                height: 515px;
                padding-top: 34px;
                padding-left: 20px;
                .title{
                    display: inline-block;
                    margin: 28px 0;
                    
                    &.none{
                        display: none;
                    }
                    .name{
                        width: auto;
                        font-size: 23px;
                        margin-bottom: 10px;
                        border-bottom: 1px solid #752A9C;
                    }
                    .flex{
                        font-size: 22px;
                    }
                }
                
            }
            .bottom{
                display: block;
                border-top: 1px solid #752A9C;
            }
        }
    }
}
@media screen and(max-width:1000px ) {
    /* #root{
        overflow: scroll;
    } */
    #about{
        h1{
            position: fixed;
            font-size: 4rem;padding-top: 69px;
        }
        #main{
        width: 710px;
        justify-content: space-between;
        padding-top: 190px;
        /* transition: none; */
        flex-wrap: wrap;
        height: auto;
            .left {
                height: 440px;
                width: 30%;
                div{ 
                    img{
                        height: 66%;

                    }
                    h2{
                        font-size: 2rem;
                        padding-top: 5px;
                    }
                }
            }
            .right {
                width: 70%;
                height: 440px;
                padding-top: 25px;
                padding-left: 31px;
                .title{
                    display: inline-block;
                    margin: 9px 0;
                    
                    &.none{
                        display: none;
                    }
                    .name{
                        width: auto;
                        font-size: 20px;
                        margin-bottom: 10px;
                        border-bottom: 1px solid #752A9C;
                    }
                    .flex{
                        font-size: 18px;
                    }
                }
                
            }
            .bottom{
                display: block;
                border-top: 1px solid #752A9C;
                margin-top: 0;
                .title {
                    .name{
                        font-size: 20px;
                        margin-right: 0;
                    }
                    .flex.border .border_box{
                        font-size: 18px;
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}