@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
// 'Amatic SC', cursive
@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#contact{
    width: 100%;
    height: 100vh;
    color: #752A9C;
    font-family: 'Amatic SC', cursive;
    h1{
        font-size: 4.5rem;
        display: inline-block;
        background: linear-gradient(135deg, rgba(225,207,239,1) 0%, rgba(225,207,239,1) 36%, rgba(255,173,188,1) 58%, rgba(255,173,188,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0 50%;
        transform: translate(-50%, 0);
        width: 20%;
        text-align: center;
        padding-top: 70px;
    }
    #main{
        width: 1600px;
        height: 700px;
        margin: 35px auto;
        position: relative;
        display: flex;
        padding: 40px;
        background: #ffffff38;
        border-radius: 48px;
        box-shadow: 0 4px 20px #00000050;
        z-index: 1111;
        .left{
            width: 40%;
            text-align: center;
            img{
                width: auto;
                height: 75%;
                border-radius: 255px;
                box-shadow: 0 5px 20px #ccc;
            }
            .title{
                width: 52%;
                height: 20%;
                margin: 0 auto;
                .flex{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    .name{
                        font-size: 40px;
                        letter-spacing: 4px;
                    }
                    .phone{
                        font-size: 23px;
                    }
                    .birth{
                        font-size: 30px;
                    }
                    .addr{
                        font-size: 23px;
                    }
                }
            }
            .appeal{
                width: 100%;
                height: 5%;
                margin: 0 auto  ;
                font-family: 'KyoboHandwriting2021sjy';
                font-size: 20px;
            }
            
        }
        .right{
            width: 60%;
            height: 100%;
            .top{
                width: 100%;
                height: 20%;
                text-align: center;
                h2{
                    font-size: 45px;
                    padding-bottom: 5px;
                }
                p{
                    font-family: 'KyoboHandwriting2021sjy';
                    font-size: 22px;
                }
            }
            .bottom{
                width: 100%;
                height: 80%;
                margin-top: 22px;
                position: relative;
                form{
                    display: flex;
                    flex-direction: column;
                    font-size: 26px;
                    label{

                    }
                    input{
                        margin-bottom: 10px;
                        height: 30px;
                        border: 1px solid #F0D4FF;
                        font-size: 16px;
                        padding: 0 10px;
                        color: #858585;
                        font-family: 'KyoboHandwriting2021sjy';
                        border-radius: 5px;
                        caret-color: #a869ca;
                        &:focus{
                            outline: none;
                        }
                    }
                    .content{
                        height: 155px;
                        border: 1px solid #F0D4FF;
                        border-radius: 5px;
                        padding: 10px;
                        caret-color: #a869ca;
                        color: #858585;
                        font-size: 16px;
                        font-family: 'KyoboHandwriting2021sjy';
                        &:focus{
                            outline: none;
                        }
                    }
                    .submit{
                        position: absolute;
                        bottom: 10px;
                        right: 0;
                        width: 80px;
                        background: #fff;
                        border-radius: 53px;
                        &:hover{
                            bottom: 8px;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}