@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

$lightPurple: #E0B9FB;
$lightPurple1: #E1CFEF;
$pink: #FFADBC;

#wrap_box{
    width: 100%;
    height: 100vh;
    position: fixed;
#wrap{
    width: 100%;
    height: 100vh;
    position: relative;

    #header{
        font-family: 'Single Day', cursive;
        position: absolute;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, .5);
        padding: 0 40px;
        z-index: 11;
        .logo{
            width: 50px;
            height: 50px;
            transition: .5s;
            text-decoration: none;
            &:hover{
                transform: rotate(90deg);
            }
            h2{
                width: 100%;
                font-size: 2rem;
                text-align: center;
                color: $lightPurple;
                line-height: 50px;
            }
        }
        .nav{
            height: 100%;
            ul{
                height: 100%;
                display: flex;
                align-items: center;
                li{
                    padding: 9px 60px;
                    transition: .1s linear;
                    &:hover a::before{
                        -webkit-transform-origin: left top;
                        -ms-transform-origin: left top;
                        transform-origin: left top;
                        -webkit-transform: scale(1, 1);
                        -ms-transform: scale(1, 1);
                        transform: scale(1, 1)
                    }
                    a{
                        padding: 15px 0;
                        font-size: 22px;
                        text-decoration: none;
                        color: $pink;
                        transition: right .3s;
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            bottom: 0%;
                            left: 0px;
                            width: 100%;
                            height: 3px;
                            background: $pink;
                            display: block;
                            border-radius: 5px;
                            -webkit-transform-origin: right top;
                            -ms-transform-origin: right top;
                            transform-origin: right top;
                            -webkit-transform: scale(0, 1);
                            -ms-transform: scale(0, 1);
                            transform: scale(0, 1);
                            -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
                            transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
                        }
                    }
                }
            }
        }
    }
    .bar{
        position: relative;
        width: 95%;
        height: 140px;
        top: 50px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        .bar1{
            width: 40%;
            height: 3px;
            background: $lightPurple1;
            position: absolute;
            border-radius: 10px;
        }
        .bar2{
            width: 40%;
            height: 3px;
            background: $pink;
            position: absolute;
            border-radius: 10px;
            right: 0;
        }
    }
    .cloud1{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 300px;
        background: url(../../../public/img/background_home.png) no-repeat;
        background-size: cover;
        opacity: .3;
        z-index: 1;
    }
    .cloud2{
        position: absolute;
        width: 50%;
        height: 50%;
        background: url(../../../public/img/cloud1.png) no-repeat;
        background-size: contain;
        left: -5%;
        opacity: .3;
        top: -4%;
        animation: cloud1 100s both ;
        z-index: 1;
    }
    .cloud2_1{
        position: absolute;
        width: 50%;
        height: 50%;
        background: url(../../../public/img/cloud1.png) no-repeat;
        background-size: contain;
        left: -25%;
        opacity: .3;
        top: -4%;
        animation: cloud1_1 100s 100s infinite ;
        z-index: 1;
    }
    .cloud3{
        position: absolute;
        width: 25%;
        height: 35%;
        background: url(../../../public/img/cloud2.png) no-repeat;
        background-size: contain;
        opacity: .3;
        right: 0;
        top: 27%;
        animation: cloud2 130s both;
        z-index: 1;
    }
    .cloud3_1{
        position: absolute;
        width: 10%;
        height: 20%;
        background: url(../../../public/img/cloud2.png) no-repeat;
        background-size: contain;
        opacity: .3;
        left: -25%;
        top: 25%;
        animation: cloud2_1 130s 10s infinite;
        z-index: 1;
    }
    .cloud3_2{
        position: absolute;
        width: 15%;
        height: 25%;
        background: url(../../../public/img/cloud2.png) no-repeat;
        background-size: contain;
        opacity: .3;
        left: -25%;
        top: 35%;
        animation: cloud2_2 130s infinite;
        z-index: 1;
    }
    .cloud4{
        position: absolute;
        width: 30%;
        height: 30%;
        background: url(../../../public/img/cloud3.png) no-repeat;
        background-size: contain;
        opacity: .3;
        left: 23%;
        bottom: 11%;
        animation: cloud3 110s both;
        z-index: 1;
    }
    .cloud4_1{
        position: absolute;
        width: 20%;
        height: 30%;
        background: url(../../../public/img/cloud3.png) no-repeat;
        background-size: contain;
        opacity: .3;
        left: -30%;
        bottom: 16%;
        animation: cloud3_1 130s 20s infinite;
        z-index: 1;
    }
}
}
@keyframes cloud1 {
    to{
        left: 99%;
    }
}

@keyframes cloud1_1 {
    to{
        left: 99%;
    }
}
@keyframes cloud2 {
    to{
        right: -100%;
    }
}
@keyframes cloud2_1 {
    to{
        left: 100%;
    }
}
@keyframes cloud2_2 {
    to{
        left: 100%;
    }
}
@keyframes cloud3 {
    to{
        left: 100%;
    }
}
@keyframes cloud3_1 {
    to{
        left: 100%;
    }
}

@media screen and (max-width: 1000px) {
    #wrap_box #wrap #header .nav ul li{
        padding: 9px 30px;
    }
}